# API CONFIG
OPENAI_API_KEY=
OPENAI_API_MODEL=text-davinci-003 # alternatively, gpt-3.5-turbo, gpt-4, etc
PINECONE_API_KEY=
PINECONE_ENVIRONMENT=us-east1-gcp

# TABLE CONFIG
TABLE_NAME=test-table

# PROJECT CONFIG
OBJECTIVE=Solve world hunger
FIRST_TASK=Develop a task list
