__pycache__/
*.py[cod]
*$py.class
.python-version

.env
.env.*
env/
.venv
*venv/

.vscode/
.idea/

models
llama/

babycoder/playground/*
babycoder/playground_data/*
babycoder/objective.txt

# for node
chroma/
node_modules/
.DS_Store