__pycache__/
*.py[cod]
*$py.class

.env
.env.*
env/
.venv
*venv/

.vscode/
.idea/

models
llama/

babycoder/playground/*
babycoder/playground_data/*
babycoder/objective.txt

# for BabyAGICommand
data/*
!data/.gitkeep
log/*
!log/.gitkeep
pwd/*
!pwd/.gitkeep
env_dump/*
!env_dump/.gitkeep

# for node
chroma/
node_modules/
.DS_Store
